body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* RSS-Styles */
.feedname{
    color: #808080;
    font-size: 8pt;
    /*font-family: 'Open Sans Condensed';*/
}

.feeditemtitle{
    color: #2f2f2f;
    font-size: 12pt;
    font-weight: bold;
    /*font-family: 'PT Serif';*/
}

.feedpubdate{
    color: #808080;
    font-size: 9pt;
    /*font-family: 'Roboto';*/
}

.feeddescription{
    color: black;
    font-size: 10pt;
}

.itemdivider{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}